.torrey-select {
    width: auto;
}

.torrey-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.torrey-console__stdout,
.torrey-console__stderr {
    display: block;
}

.torrey-program, 
.torrey-console {
    font-family: Menlo, monospace;
    height: 500px;
}

.torrey-console__stderr {
    color: #dc3545;
}

.torrey-console {
    background-color: #000;
    border-radius: .25rem;
    margin: 0;
    padding: .375rem .75rem;
    color: #fff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}