.torrey-select {
    width: auto;
}

.torrey-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.torrey-program, 
.torrey-console {
    font-family: Menlo, monospace;
    height: 500px;
}

.torrey-console {
    background-color: #000;
    border-radius: .25rem;
    margin: 0;
    padding: .375rem .75rem;
    color: #fff;
}